.main-container{
    width:100%;
}

.header-detail {
    width: 100%; height:185px;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    background-image: url('../../assets/bg-header-detail.png');
    background-size: cover;
    margin-bottom:80px;
}

.header-detail img {
    height: 125px;
    border: 5px solid #57D2D6;
    border-radius:50%;
}

h2 {
    color: #FFF;
}